@import '../config/variables';

body {
    
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.mapcontent {
    width: 40%;
}

.tablecontent {
    width: 40%;
}