$black: #000;
$white: #fff;
$blue: #0080b2; // header bg
$lightgray: #cccccc; // placeholder and borders
$gray: #424242; // label
$red: #ff0000;
//fonts
$latobold: 'lato-bold';
$latobolditalic: 'lato-bold-italic';
$latoitalic: 'lato-italic';
$lato: 'lato';
